@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');
:root{
	--fonte-titulo:"Young Serif";
	--fonte-texto:"Outfit";
	--cor-white:hsl(0, 0%, 100%);
	--cor-rose-white:hsl(330, 100%, 98%);
	--cor-eggshel:hsl(30, 54%, 90%);
	--cor-light-grey:hsl(30, 18%, 87%);
	--cor-wenge-brown:hsl(30, 10%, 34%);
	--cor-dark-charcoal:hsl(24, 5%, 18%);
	--cor-Nutmeg:hsl(14, 45%, 36%);
	--cor-dark-raspberry:hsl(332, 51%, 32%);
}
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: var(--fonte-texto);
	font-weight: 400;
	font-size: 0.7rem;
	background: var(--cor-eggshel);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
main{
	width: 40%;
	background-color: var(--cor-white);
	display: flex;
	flex-direction: column;
	padding: 25px;
	border-radius: 30px;
	margin-top: 5%;
}
section{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
img{
	border-radius: 18px;
	width: 100%;
	box-sizing: border-box;
}
h1, h2, h3{
	font-family: var(--fonte-titulo);
	font-weight: 400;
	margin: .5em 0;
}
h1{
	margin: 10px 0 ;
	font-size: 1.75rem;
	color: var(--cor-dark-charcoal);
}
h2{
	font-size: 1.5rem;
	color: var(--cor-Nutmeg);
}
h3{
	font-size: 1.1rem;
	color: var(--cor-dark-raspberry);
}
p, li{
	color: var(--cor-dark-charcoal);
	margin-bottom:1em ;
}
li{
	padding: 0 10px;
	list-style-position:inside;
}
.Instructions__item{
	margin-left: 1.5em;
	list-style-position: initial;
}
li::marker{
	color:  var(--cor-Nutmeg);
	font-weight: bold;
	margin-right: 1rem;
}
.preparation li::marker{
	color:  var(--cor-dark-raspberry);
}
tr{
	display:grid;
	grid-template-columns: 1fr 1fr;
	border-bottom: 1px solid var(--cor-light-grey);
}
td{
	padding: 1em 0 1em 1em;
}
tr:last-child{
	border: 0px;
}

td strong{
	color: var(--cor-Nutmeg);
	font-weight: bold;
}
.preparation{
	background-color: var(--cor-rose-white);
	padding: 1em;
	border-radius: 8px;
}
.preparation li{
	margin: 0.5em;
}
.attribution { 
	font-size: 11px;
	text-align: center; 
}
.attribution a {
	color: hsl(228, 45%, 44%);
	text-decoration: none;
	color: var(--cor-Nutmeg);
}
.attribution a:hover{
	color: var(--cor-dark-raspberry);
}
footer{
	display: none;
	background-color: var(--cor-eggshel);
	padding: 1rem;
	color: var(--cor-Nutmeg);
}
.mobile{
	display:none;
}
.desktop{
	display: block;
}

@media screen and (max-width: 1024px){
	main{
		width: 100vw;
		margin: 0;
		padding: 0;
	}
	img{
		border-radius: 0px;
	}
	h1, h2, h3, p, ol, ul, table{
		margin: 0 20px;
	}
	.preparation{
		margin: 20px;
	}
	footer{
		display: block;
	}
	.mobile{
		display:block;
	}
	.desktop {
		display: none;
	}
}